---
import {MainLayout} from '@layouts';
---

<MainLayout title="404:Oppps!" classList="mx-auto max-w-7xl p-8 text-center">
  <section slot="main-content">
    <h1 class="text-[3.2em] font-bold leading-[1.1]">404 | Not Found</h1>
  </section>
</MainLayout>
